<section class="mx-5">
    <h1 class="text-2xl font-bold">Pipes Personalizados</h1>
    <h3 class="text-xl font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCasePipe</div>
    <div class="stat-value">{{name() | toggleCase: upperCase() }}</div>
    <div class="stat-desc">{{name()}}</div>

    <button (click)="upperCase.set(!upperCase())" 
            class="btn btn-secondary mt-2">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
    <h1 class="text-2xl font-bold">Pipes Personalizados en Acción</h1>
    <h3 class="text-2xl font-thin">Filtrado por : {{searchQuery()}} ordenado por:{{sortBy()}}</h3>
    <div class="flex gap-2 justify-end w-full mt-2">
       
        <input type="text"
         class="input input-bordered w-full max-w-xs"
         placeholder="Buscar"
         (input)="searchQuery.set(txtSearch.value)"
         #txtSearch />

         <div class="flex flex-1"></div>

        <button (click)="sortBy.set('name')"
                class="btn btn-primary">Por nombre</button>
        <button (click)="sortBy.set('canFly')
                "class="btn btn-accent">Por volar</button>
        <button (click)="sortBy.set('color')" 
                class="btn btn-secondary">Por color</button>
        <button (click)="sortBy.set('creator')"
                class="btn btn-info">Por creador</button>
    
    </div>
</section>

<div class="overflow-x-auto w-full rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-xs w-full bg-yellow-50">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Puede volar</th>
        <th>Color</th>
        <th>Creador</th>
      </tr>
    </thead>
    <tbody>
      
      @for (hero of heroes() | heroFilter: searchQuery() | heroSortBy: sortBy(); track hero.id; let i = $index) {
        <tr>
        <th>{{ i +1}}</th>
        <th>{{hero.name}}</th>
        <th>
            <span class="text-xs w-44"
            [class.text-black]="hero.canFly"
            [class.text-gray-400]="!hero.canFly">{{hero.canFly | canFly}}</span>
            <p [class.text-green-500]="hero.canFly"
               [class.text-red-700]="!hero.canFly">{{hero.canFly}}</p>
        </th>
        <th>
            
            <p class="text-xs w-44"
            [style.color]="hero.color | heroTextColor">{{hero.color | heroColor | titlecase}}</p>
        </th>
        <th>
            <span [class.text-blue-400]="hero.creator == 0"
                  [class.text-red-600]="hero.creator == 1">{{hero.creator | heroCreator}}</span>
        </th>
      </tr>
      }
      
    </tbody>
  </table>
</div>